.heading {
  color: darkblue;
  font-size: 15px;
  transition-duration: 2s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease;
}

 .heading:hover{
     color: red;
     font-size: 25px;
 }

