.box {
  width: 50px;
  height: 50px;
  background: red;
  border: 1px solid black;
  
  animation: grow 1s ease 0s infinite alternate;

}

@keyframes grow{
  from{width: 100px;height: 100px;background-color: blue;}
  to{width: 10px;height: 10px;background-color: red;}
}



.title:hover {
  color: #1f93ff;
}
img {
  width: 100%;
.heading {
  color: darkblue;
  font-size: 15px;
  transition: all 0.5s;
}

.heading:hover {
  color: aqua;
  font-size: 20px;
}
