.heading {
  color: darkblue;
  font-size: 15px;
  transition-delay: 1s;
  transition-duration: 0.5s;
  transition-property: font-size;
  transition-timing-function: ease-in;

}

 .heading:hover{
     color: red;
     font-size: 25px;
 
 }

